<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="data-alta-usuario">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <iron-ajax
      id="altaUsuario"
      method="POST"
      url="[[servidor]]/apitechu/v1/cliente"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse">
    </iron-ajax>

    <paper-dialog id="modalerror" modal class="rojo">
      <br>
      <p>El usuario ya existe</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="modalok" modal class="verde">
      <br>
      <p>Alta de usuario correcta</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataAltaUsuario extends Polymer.Element {
      static get is() { return 'data-alta-usuario'; }
      static get properties() {
        return {};
      }

      showData(data){
        this.servidor = obtenerServidor();
        this.$.altaUsuario.body = JSON.stringify(data);
        this.$.altaUsuario.generateRequest();
      }

      manageAJAXResponse(data){
        if (data.detail.response.msg == "OK") {
            this.$.modalok.open();
            this.dispatchEvent(
              new CustomEvent(
                "altausuariocorrecta",
                {
                    "detail" : {
                        "nif" : data.detail.response.cliente.nif,
                        "nombre" : data.detail.response.cliente.nombre,
                        "apellido1" : data.detail.response.cliente.apellido1,
                        "apellido2" : data.detail.response.cliente.apellido2,
                        "cuenta": [data.detail.response.cliente.cuenta]
                      }
                }
              )
            );
        } else {
          this.$.modalerror.open();
        }
      }

    }

    window.customElements.define(DataAltaUsuario.is, DataAltaUsuario);
  </script>
</dom-module>
