<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="data-reactiva-clave">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="dataReactivaClave"
      method="PUT"
      url="[[servidor]]/apitechu/v1/cliente/[[nif]]/reactivacion"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

    <paper-dialog id="modalCI" modal class="rojo">
      <p>El código es incorrecto</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="modalCE" modal class="rojo">
      <p>El código ha expirado</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="modalerror" modal class="rojo">
      <p>Usuario no encontrado</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="modalok" modal class="verde">
      <p>Clave reactivada</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataReactivaClave extends Polymer.Element {
      static get is() { return 'data-reactiva-clave'; }
      static get properties() {
        return {};
      }

      showData(data) {
        this.servidor = obtenerServidor();
        this.nif = data.nif;
        this.$.dataReactivaClave.body = data;
        this.$.dataReactivaClave.generateRequest();
      }

      manageAJAXResponse(data){
        if (data.detail.response.msg == "CE") {
          this.$.modalCE.open();
        } else {
          if (data.detail.response.msg == "CI") {
            this.$.modalCI.open();
          } else {
            this.$.modalok.open();
            this.dispatchEvent(
              new CustomEvent(
                "reactivacioncorrecta",
                {
                    "detail" : {}
                }
              )
            );
          }
        }
       }

       showError(error) {
         this.$.modalerror.open();
       }

    }

    window.customElements.define(DataReactivaClave.is, DataReactivaClave);
  </script>
</dom-module>
