<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">

<dom-module id="nuevo-movimiento">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div hidden$="[[!mostrar]]" id="pagina">
        <div class="titulo">Nuevo movimiento</div>
        <div id="recuadro">
          <p>Introduzca los datos del movimiento sobre la cuenta {{iban}}</p>
          <p><select class="custom-select" id="tipo" value="{{tipo::input}}">
                <option value="" disable selected>Tipo de movimiento</option>
                <option value="C">Cargo</option>
                <option value="A">Abono</option>
          </select>
          <span hidden$=[[tipovalido]] class="valida">Seleccione el tipo de movimiento</span>
          <paper-input type="text" maxlength="7" id="importe" name="importe" required label="Importe en euros" value="{{importe::input}}"></paper-input>
          <span hidden$=[[importevalido]] class="valida">Introduzca un importe correcto (máximo 10.000 euros)</span>
          <paper-input type="text" maxlength="40" id="detalle" name="detalle" required label="Detalle" value="{{detalle::input}}"></paper-input>
          <div class="centrado">
            <button class="btn btn-primary" on-click="volver">Volver</button>
            &nbsp;&nbsp;
            <button class="btn btn-primary" on-click="sendEvent">Enviar</button>
          </div>
        </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NuevoMovimiento extends Polymer.Element {
      static get is() { return 'nuevo-movimiento'; }
      static get properties() {
        return {
          mostrar: {
            type: Boolean,
            value: false
          }, tipovalido: {
            type: Boolean,
            value: true
          }, importevalido: {
            type: Boolean,
            value: true
          }
        };
      }

      sendEvent(e) {
        this.tipovalido = validarTipoMovimiento(this.tipo);
        this.importevalido = validarImporte(this.importe);
        if (this.tipovalido && this.importevalido) {
          this.dispatchEvent(
            new CustomEvent(
              "altamovimiento",
              {
                "detail" : {
                  "iban" : this.iban,
                  "datos" : {
                    "tipo" : this.tipo,
                    "importe" : this.importe.replace(",","."),
                    "detalle" : this.detalle || ""
                  }
                }
              }
            )
          );
        }

      }

      showData(data) {
        this.iban = data.iban;
        this.mostrar = true;
        this.$.tipo.focus();
      }

      volver(e) {
        // Cancela el alta de movimiento
        this.dispatchEvent(
          new CustomEvent(
            "cancelaaltamovimiento",
            {}
          )
        );
      }

    }

    window.customElements.define(NuevoMovimiento.is, NuevoMovimiento);
  </script>
</dom-module>
