<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="data-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="dataMovimientos"
      method="GET"
      url="[[servidor]]/apitechu/v1/cuenta/[[iban]]/movimiento"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataMovimientos extends Polymer.Element {
      static get is() { return 'data-movimientos'; }
      static get properties() {
        return {};
      }

      showData(data) {
        // Recibe el IBAN de la cuenta y llama al API
        this.servidor = obtenerServidor();
        this.iban = data.iban;
        this.saldo = data.saldo;
        this.$.dataMovimientos.headers.importedesde = data.importedesde || "";
        this.$.dataMovimientos.headers.importehasta = data.importehasta || "";
        this.$.dataMovimientos.headers.fechadesde = data.fechadesde || "";
        this.$.dataMovimientos.headers.fechahasta = data.fechahasta || "";
        this.$.dataMovimientos.headers.token = sessionStorage.getItem("token") || "";
        this.$.dataMovimientos.generateRequest();
      }

      manageAJAXResponse(data){
        // Devuelve los movimientos de la cuenta
        this.dispatchEvent(
          new CustomEvent(
            "datosmovimientos",
            {
              "detail" : {
                "saldo" : this.saldo,
                "respuesta" : data.detail.response
              }
            }
          )
        );
      }

      showError(error) {
        if (error.detail.request.root.__data.status == 401) {
          noAutenticado(this);
        } else {

            this.dispatchEvent(
              new CustomEvent(
                "datosmovimientos",
                {
                  "detail" : "KO"
                }
              )
            );
          }
      }

    }

    window.customElements.define(DataMovimientos.is, DataMovimientos);
  </script>
</dom-module>
