<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="modificacion-usuario">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <div hidden$="[[!mostrar]]" id="pagina">
          <div class="titulo">Modificar datos de usuario</div>
          <div id="recuadro">
            <iron-form>
              <form>
                <p>Actualice sus datos</p>
                <paper-input type="text" disabled id="nif" name="nif" label="NIF" value="{{nif::input}}"></paper-input>
                <paper-input type="text" maxlength="20" id="nombre" name="nombre" required label="Nombre" value="{{nombre::input}}"></paper-input>
                <span hidden$=[[nombrevalido]] class="valida">Introduzca el nombre</span>
                <paper-input type="text" maxlength="30" id="apellido1" name="apellido1" required label="Primer apellido" value="{{apellido1::input}}"></paper-input>
                <span hidden$=[[apellido1valido]] class="valida">Introduzca el primer apellido</span>
                <paper-input type="text" maxlength="30" id="apellido2" name="apellido2" required label="Segundo apellido" value="{{apellido2::input}}"></paper-input>
                <span hidden$=[[apellido2valido]] class="valida">Introduzca el segundo apellido</span>
                <paper-input type="text" maxlength="30" id="email" name="email" required label="Email" value="{{email::input}}"></paper-input>
                <span hidden$=[[emailvalido]] class="valida">Introduzca un email válido</span>
                <paper-input type="password" maxlength="8" id="password" name="password" required label="Nueva Password" value="{{password::input}}"></paper-input>
                <span hidden$=[[passwordvalida]] class="valida">La password debe tener entre 4 y 8 caracteres</span>
                <paper-input type="password" maxlength="8" id="password2" name="password2" required label="Repita Password" value="{{password2::input}}"></paper-input>
                <span hidden$=[[password2valida]] class="valida">La password no es igual</span>
                <div class="centrado">
                  <button class="btn btn-primary" on-click="sendEvent">Enviar</button>
                </div>
              </form>
            </iron-form>
          </div>
      </div>

      <paper-dialog id="modalerror" modal class="rojo">
        <p>Error al recuperar los datos del cliente</p>
        <div class="buttons">
          <paper-button dialog-confirm autofocus>OK</paper-button>
        </div>
      </paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModificacionUsuario extends Polymer.Element {
      static get is() { return 'modificacion-usuario'; }
      static get properties() {
        return {
          mostrar: {
            type: Boolean,
            value: false
          }, nombrevalido: {
            type: Boolean,
            value: true
          }, apellido1valido: {
            type: Boolean,
            value: true
          }, apellido2valido: {
            type: Boolean,
            value: true
          }, emailvalido: {
            type: Boolean,
            value: true
          }, passwordvalida: {
            type: Boolean,
            value: true
          }, password2valida: {
            type: Boolean,
            value: true
          }
        };
      }

      showData(data) {
        if (data == "KO") {
          this.$.modalerror.open();
        } else {
        this.mostrar = true;
        this.nif = data.nif;
        this.nombre = data.nombre;
        this.apellido1 = data.apellido1;
        this.apellido2 = data.apellido2;
        this.email = data.email;
        this.password = "";
        this.password2 = "";
        this.passwordanterior = data.password
        this.$.nombre.focus()
        }
      }

      sendEvent(e) {
        // Envía los datos actualizados a modificausuario
        this.nombrevalido = validarNombre(this.nombre);
        this.apellido1valido = validarApellido(this.apellido1);
        this.apellido2valido = validarApellido(this.apellido2);
        this.emailvalido = validarEmail(this.email);
        if (this.password == "") {
          var password = this.passwordanterior;
          this.passwordvalida = true;
        } else {
            this.passwordvalida = validarPassword(this.password);
            var password = sha1(this.password);
        }
        this.password2valida = (this.password == this.password2) ? true : false ;
        if (this.nombrevalido && this.apellido1valido && this.apellido2valido && this.emailvalido && this.passwordvalida && this.password2valida) {
          this.dispatchEvent(
            new CustomEvent(
              "modificausuario",
              {
                "detail" : {
                  "nif" : this.nif,
                  "nombre" : this.nombre,
                  "apellido1" : this.apellido1,
                  "apellido2" : this.apellido2,
                  "email" : this.email,
                  "password" : password
                }
              }
            )
          );
        }
      }

      volver(e) {
        // Cancela la modificación de usuario
        this.dispatchEvent(
          new CustomEvent(
            "cancelaaltausuario",
            {}
          )
        );
      }

    }

    window.customElements.define(ModificacionUsuario.is, ModificacionUsuario);
  </script>
</dom-module>
