<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="data-alta-movimiento">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="altaMovimiento"
      method="POST"
      url="[[servidor]]/apitechu/v1/cuenta/[[iban]]/movimiento"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

    <paper-dialog id="modalerror" modal class="rojo">
      <p>Error al recuperar la cuenta</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="modalko" modal class="rojo">
      <p>Saldo insuficiente</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="modalok" modal class="verde">
      <p>Movimiento realizado correctamente</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataAltaMovimiento extends Polymer.Element {
      static get is() { return 'data-alta-movimiento'; }
      static get properties() {
        return {}
      };

      showData(data){
        this.servidor = obtenerServidor();
        this.iban = data.iban;
        this.$.altaMovimiento.body = JSON.stringify(data.datos);
        this.$.altaMovimiento.headers.token = sessionStorage.getItem("token") || "";
        this.$.altaMovimiento.generateRequest();
      }

      manageAJAXResponse(data){
        if (data.detail.response.resultado == "KO") {
          this.$.modalko.open();
        } else {
            this.$.modalok.open();
            this.dispatchEvent(
              new CustomEvent(
                "altamovimientocorrecta",
                {
                    "detail" : {
                        "iban" : data.detail.response.iban,
                        "saldo" : data.detail.response.saldo
                      }
                }
              )
            );
          }
      }

      showError(error) {
        if (error.detail.request.root.__data.status == 401) {
          noAutenticado(this);
        } else {
            this.$.modalerror.open();
          }
      }


    }

    window.customElements.define(DataAltaMovimiento.is, DataAltaMovimiento);
  </script>
</dom-module>
