<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="listado-divisas">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <div hidden$="[[!mostrar]]" id="pagina">
        <div class="titulo">Cambio de divisas</div>
        <div id="recuadro">
            <paper-input type="text" maxlength="10" id="ud" name="ud" required label="Cantidad a convertir" on-keyup="seleccionaDivisas" value="{{ud::input}}"></paper-input>
            Divisa origen
            <select class="custom-select" id="divisaorigen" on-change="seleccionaDivisas" value="{{divisaorigen::input}}">
              <template is="dom-repeat" items="[[divisa]]" as="divisaorigen">
                <option selected$="{{esDivisa(divisaorigen.id,'EUR')}}" value="{{divisaorigen.id}}">[[divisaorigen.id]]-[[divisaorigen.nombre]]</option>
              </template>
            </select>
            <p><p>
            Divisa destino
            <select class="custom-select" id="divisadestino" on-change="seleccionaDivisas" value="{{divisadestino::input}}">
              <template is="dom-repeat" items="{{divisa}}" as="divisadestino">
                <option selected$="{{esDivisa(divisadestino.id,'USD')}}" value="{{divisadestino.id}}">[[divisadestino.id]]-[[divisadestino.nombre]]</option>
              </template>
            </select>
            <p><p>
            <p>
            <div hidden$="[[!mostrardatos]]">
              <div class="align-self-center mr-3">
                <p><b>[[formatoImporte(resunidades)]] [[resdivisaorigen]] = [[formatoImporte(rescambiototal)]] [[resdivisadestino]]</b></p>
                <p>[[resdivisadestino]]/[[resdivisaorigen]] = [[formatoDivisa(rescambio)]]</p>
                <p style="font-size:80%;">Actualizado: [[resactualizado]]</p>
              </div>
            </div>
        </div>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ListadoDivisas extends Polymer.Element {
      static get is() { return 'listado-divisas'; }
      static get properties() {
        return {
          mostrar: {
            type: Boolean,
            value: false
          }, mostrardatos: {
            type: Boolean,
            value: false
          }
        };
      }

      showData(data) {
        // Recibe el listado de divisas
          this.divisa = data.divisas;
          this.mostrardatos = false;
          this.mostrar = true;
          this.$.ud.focus()
      }

      seleccionaDivisas(e) {
        this.dispatchEvent(
          new CustomEvent(
            "seleccionadivisas",
            {
              "detail" : {
                "divisaorigen" : this.divisaorigen,
                "divisadestino" : this.divisadestino,
                "unidades" : this.ud
              }
            }
          )
        );
      }

      mostrarCambioDivisas(data) {
        // Recibe el resultado del cambio de divisas
        this.resdivisaorigen = data.result.source;
        this.resdivisadestino = data.result.target;
        this.resunidades = data.result.quantity;
        this.rescambio = data.result.value;
        this.rescambiototal = data.result.amount;
        if (data.result.updated == undefined) {
          this.resactualizado = "N/A";
        } else {
        var fecha = new Date(data.result.updated);
        this.resactualizado = fecha.getDate()+"-"+(fecha.getMonth()+1)+"-"+fecha.getFullYear()+" "+fecha.getHours()+":"+fecha.getMinutes()+":"+fecha.getSeconds();
        }
        this.mostrardatos = true;
      }

      esDivisa(div,sel) {
        if (div == sel) {
          return true
        } else {
            return false
          }
      }

      formatoImporte(importe){
        return formatearImporte(importe,2);
      }

      formatoDivisa(importe){
        return formatearImporte(importe,5);
      }

    }

    window.customElements.define(ListadoDivisas.is, ListadoDivisas);
  </script>
</dom-module>
