<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="login-usuario">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <div hidden$="[[!mostrar]]" id="pagina">
        <div class="centrado">
          <img src="https://s3-eu-west-1.amazonaws.com/proyectotechu/logo.png" alt="Banco San José">
        </div>
        <div class="centrado">
          <h2>Bienvenido al Banco San José</h2>
        </div>
          <br><br>
          <div id="recuadro">
            <iron-form>
              <form>
                <p>Introduzca los datos de acceso</p>
                <paper-input type="text" maxlength="9" id="nif" name="nif" required label="NIF" value="{{nif::input}}" autofocus></paper-input>
                <span hidden$=[[nifvalido]] class="valida">Introduzca un NIF válido</span>
                <paper-input type="password" maxlength="8" id="password" name="password" required label="Password" value="{{password::input}}"></paper-input>
                <span hidden$=[[passwordvalida]] class="valida">La password debe tener entre 4 y 8 caracteres</span>
                <div class="centrado">
                  <button class="btn btn-primary" on-click="sendEvent">Login</button>
                </div>
              </form>
              <div class="centrado">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link" id="enlace" on-click="nuevoUsuario">Nuevo usuario</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="enlace" on-click="olvidoClave">Olvidé mi password</a>
                  </li>
                </ul>
              </div>
            </iron-form>
          </div>
      </div>

    <paper-dialog id="modalerror" modal class="rojo">
      <br>
      <p>Usuario o clave incorrectos</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="sesionerror" modal class="rojo">
      <p>La sesión no es válida</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          mostrar: {
            type: Boolean,
            value: true
          }, nifvalido: {
            type: Boolean,
            value: true
          }, passwordvalida: {
            type: Boolean,
            value: true
          }
        };
      }

      showData(data) {
        // Recibe el resultado del login
        if (data == "KO") {
          this.$.modalerror.open();
        } else {
          this.mostrar = false;
        }
      }

      sesionNoValida(data) {
        // La sesión enviada no es válida
        this.$.sesionerror.open();
        this.mostrar = true;
      }

      sendEvent(e) {
        // Envía las credenciales del cliente al gestor
        if (this.nif != undefined) {
          this.nif = this.nif.toUpperCase();
        }
        this.nifvalido = validarNIF(this.nif);
        this.passwordvalida = validarPassword(this.password);
        if (this.nifvalido && this.passwordvalida) {
          var password = sha1(this.password);
          this.dispatchEvent(
            new CustomEvent(
              "credenciales",
              {
                "detail" : {
                  "nif" : this.nif,
                  "password" : password
                }
              }
            )
          );
        }
      }

      nuevoUsuario() {
        this.dispatchEvent(
          new CustomEvent(
            "nuevousuario", {}
          )
        );
      }

      olvidoClave() {
        this.dispatchEvent(
          new CustomEvent(
            "olvidoclave", {}
          )
        );
      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
