<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="data-consulta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="dataConsultaUsuario"
      method="GET"
      url="[[servidor]]/apitechu/v1/cliente/[[nif]]"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataConsultaUsuario extends Polymer.Element {
      static get is() { return 'data-consulta-usuario'; }
      static get properties() {
        return {};
      }

      showData(data) {
        // Recibe el NIF del cliente y llama al API
        this.servidor = obtenerServidor();
        this.nif = data.nif;
        this.$.dataConsultaUsuario.headers.token = sessionStorage.getItem("token") || "";
        this.$.dataConsultaUsuario.generateRequest();
      }

      manageAJAXResponse(data){
        // Devuelve los movimientos de la cuenta
        this.dispatchEvent(
          new CustomEvent(
            "datosconsultausuario",
            {
              "detail" : data.detail.response
            }
          )
        );
      }

      showError(error) {
        if (error.detail.request.root.__data.status == 401) {
          noAutenticado(this);
        } else {

            this.dispatchEvent(
              new CustomEvent(
                "datosmovimientos",
                {
                  "detail" : "KO"
                }
              )
            );
          }
      }

    }

    window.customElements.define(DataConsultaUsuario.is, DataConsultaUsuario);
  </script>
</dom-module>
