<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="data-oficinas">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="dataOficinas"
      method="GET"
      url="[[servidor]]/apitechu/v1/oficina"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>

      <paper-dialog id="modalerror" modal class="rojo">
        <p>No se encuentran oficinas</p>
        <div class="buttons">
          <paper-button dialog-confirm autofocus>OK</paper-button>
        </div>
      </paper-dialog>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataOficinas extends Polymer.Element {
      static get is() { return 'data-oficinas'; }
      static get properties() {
        return {}
      };

      showData(data){
        this.servidor = obtenerServidor();
        this.$.dataOficinas.headers.token = sessionStorage.getItem("token") || "";
        this.$.dataOficinas.generateRequest();
      }

      manageAJAXResponse(data){
        this.dispatchEvent(
          new CustomEvent(
            "datosoficinas",
            {
                "detail" : {
                    "oficinas" : data.detail.response
                  }
            }
          )
        );
      }

      showError(error) {
        if (error.detail.request.root.__data.status == 401) {
          noAutenticado(this);
        } else {
        this.$.modalerror.open();
        }
      }


    }

    window.customElements.define(DataOficinas.is, DataOficinas);
  </script>
</dom-module>
