<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="nuevo-usuario">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <div hidden$="[[!mostrar]]" id="pagina">
          <div class="titulo">Alta de nuevo usuario</div>
            <div id="recuadro">
              <iron-form>
                <form>
                  <p>Introduzca sus datos</p>
                  <paper-input type="text" maxlength="9" id="nif" name="nif" required label="NIF" value="{{nif::input}}"></paper-input>
                  <span hidden$=[[nifvalido]] class="valida">Introduzca un NIF válido</span>
                  <paper-input type="text" maxlength="20" id="nombre" name="nombre" required label="Nombre" value="{{nombre::input}}"></paper-input>
                  <span hidden$=[[nombrevalido]] class="valida">Introduzca el nombre</span>
                  <paper-input type="text" maxlength="30" id="apellido1" name="apellido1" required label="Primer apellido" value="{{apellido1::input}}"></paper-input>
                  <span hidden$=[[apellido1valido]] class="valida">Introduzca el primer apellido</span>
                  <paper-input type="text" maxlength="30" id="apellido2" name="apellido2" required label="Segundo apellido" value="{{apellido2::input}}"></paper-input>
                  <span hidden$=[[apellido2valido]] class="valida">Introduzca el segundo apellido</span>
                  <paper-input type="text" maxlength="30" id="email" name="email" required label="Email" value="{{email::input}}"></paper-input>
                  <span hidden$=[[emailvalido]] class="valida">Introduzca un email válido</span>
                  <paper-input type="password" maxlength="8" id="password" name="password" required label="Password" value="{{password::input}}"></paper-input>
                  <span hidden$=[[passwordvalida]] class="valida">La password debe tener entre 4 y 8 caracteres</span>
                  <paper-input type="password" maxlength="8" id="password2" name="password2" required label="Repita Password" value="{{password2::input}}"></paper-input>
                  <span hidden$=[[password2valida]] class="valida">La password no es igual</span>
                  <div class="centrado">
                    <button class="btn btn-primary" on-click="volver">Volver</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-primary" on-click="sendEvent">Enviar</button>
                  </div>
                </form>
              </iron-form>
            </div>
      </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NuevoUsuario extends Polymer.Element {
      static get is() { return 'nuevo-usuario'; }
      static get properties() {
        return {
          mostrar: {
            type: Boolean,
            value: false
          }, nifvalido: {
            type: Boolean,
            value: true
          }, nombrevalido: {
            type: Boolean,
            value: true
          }, apellido1valido: {
            type: Boolean,
            value: true
          }, apellido2valido: {
            type: Boolean,
            value: true
          }, emailvalido: {
            type: Boolean,
            value: true
          }, passwordvalida: {
            type: Boolean,
            value: true
          }, password2valida: {
            type: Boolean,
            value: true
          }
        };
      }

      sendEvent(e) {
        // Envía los datos del nuevo usuario a alta-usuario
        if (this.nif != undefined) {
          this.nif = this.nif.toUpperCase();
        }
        this.nifvalido = validarNIF(this.nif);
        this.nombrevalido = validarNombre(this.nombre);
        this.apellido1valido = validarApellido(this.apellido1);
        this.apellido2valido = validarApellido(this.apellido2);
        this.emailvalido = validarEmail(this.email);
        this.passwordvalida = validarPassword(this.password);
        this.password2valida = this.password == this.password2 ? true : false ;
        if (this.nifvalido && this.nombrevalido && this.apellido2valido && this.apellido1valido && this.emailvalido && this.passwordvalida && this.password2valida) {
          var password = sha1(this.password);
          this.dispatchEvent(
            new CustomEvent(
              "altausuario",
              {
                "detail" : {
                  "nif" : this.nif,
                  "nombre" : this.nombre,
                  "apellido1" : this.apellido1,
                  "apellido2" : this.apellido2,
                  "email" : this.email,
                  "password" : password
                }
              }
            )
          );
        }
      }

      volver(e) {
        // Cancela el alta de usuario
        this.dispatchEvent(
          new CustomEvent(
            "cancelaaltausuario",
            {}
          )
        );
      }

    }

    window.customElements.define(NuevoUsuario.is, NuevoUsuario);
  </script>
</dom-module>
