<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="dataCuentas"
      method="GET"
      url="[[servidor]]/apitechu/v1/cliente/[[nif]]/cuenta"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataCuentas extends Polymer.Element {
      static get is() { return 'data-cuentas'; }
      static get properties() {
        return {};
      }

      showData(data) {
        // Recibe las credenciales del cliente y llama al API
        this.servidor = obtenerServidor();
        this.nif = data;
        this.$.dataCuentas.headers.token = sessionStorage.getItem("token") || "";
        this.$.dataCuentas.generateRequest();
      }

      manageAJAXResponse(data){
        // Devuelve los datos del cliente
        this.dispatchEvent(
          new CustomEvent(
            "datoscuentas",
            {
              "detail" : data.detail.response
            }
          )
        );
      }

      showError(error) {
        if (error.detail.request.root.__data.status == 401) {
          noAutenticado(this);
        } else {
          this.dispatchEvent(
            new CustomEvent(
              "datoscuentas",
              {
                "detail" : "KO"
              }
            )
          );
        }
      }


    }

    window.customElements.define(DataCuentas.is, DataCuentas);
  </script>
</dom-module>
