<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="reactivacion-clave">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div hidden$="[[!mostrar]]" id="pagina">
        <div class="titulo">Recuperación de clave (2/2)</div>
        <div id="recuadro">
          <iron-form>
            <form>
              <p>Se ha enviado un código a su email. Este código es válido durante 5 minutos</p>
              <paper-input type="text" maxlength="6" id="codigo" name="codigo" required label="Código" value="{{codigo::input}}"></paper-input>
              <span hidden$=[[codigovalido]] class="valida">Introduzca el código</span>
              <paper-input type="password" maxlength="8" id="password" name="password" required label="Nueva Password" value="{{password::input}}"></paper-input>
              <span hidden$=[[passwordvalida]] class="valida">La password debe tener entre 4 y 8 caracteres</span>
              <paper-input type="password" maxlength="8" id="password2" name="password2" required label="Repita Password" value="{{password2::input}}"></paper-input>
              <span hidden$=[[password2valida]] class="valida">La password no es igual</span>
              <div class="centrado">
                <button class="btn btn-primary" on-click="volver">Volver</button>
                &nbsp;&nbsp;
                <button class="btn btn-primary" on-click="sendEvent">Enviar</button>
              </div>
            </form>
          </iron-form>
        </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReactivacionClave extends Polymer.Element {
      static get is() { return 'reactivacion-clave'; }
      static get properties() {
        return {
          mostrar: {
            type: Boolean,
            value: false
          }, codigovalido: {
            type: Boolean,
            value: true
          }, passwordvalida: {
            type: Boolean,
            value: true
          }, password2valida: {
            type: Boolean,
            value: true
          }
        };
      }

      showData(data) {
        // Recibe el código de reactivación
        this.nif = data;
        this.mostrar = true;
        this.$.codigo.focus();
      }


      sendEvent(e) {
        // Envía los datos del nuevo usuario a alta-usuario
        this.codigovalido = validarCodigo(this.codigo);
        this.passwordvalida = validarPassword(this.password);
        this.password2valida = this.password == this.password2 ? true : false ;
        if (this.codigovalido && this.passwordvalida && this.password2valida) {
          var password = sha1(this.password);
          this.dispatchEvent(
            new CustomEvent(
              "enviaclavereactivacion",
              {
                "detail" : {
                  "nif" : this.nif,
                  "codigo" : this.codigo,
                  "password" : password
                }
              }
            )
          );
        }
      }

      volver(e) {
        // Cancela el alta de usuario
        this.dispatchEvent(
          new CustomEvent(
            "cancelareactivacion",
            {}
          )
        );
      }

    }

    window.customElements.define(ReactivacionClave.is, ReactivacionClave);
  </script>
</dom-module>
