<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../nuevo-usuario/nuevo-usuario.html">
<link rel="import" href="../modificacion-usuario/modificacion-usuario.html">
<link rel="import" href="../data-alta-usuario/data-alta-usuario.html">
<link rel="import" href="../data-login/data-login.html">
<link rel="import" href="../data-cuentas/data-cuentas.html">
<link rel="import" href="../data-alta-cuenta/data-alta-cuenta.html">
<link rel="import" href="../olvido-clave/olvido-clave.html">
<link rel="import" href="../data-olvido-clave/data-olvido-clave.html">
<link rel="import" href="../reactivacion-clave/reactivacion-clave.html">
<link rel="import" href="../data-reactiva-clave/data-reactiva-clave.html">
<link rel="import" href="../datos-cabecera/datos-cabecera.html">
<link rel="import" href="../listado-cuentas/listado-cuentas.html">
<link rel="import" href="../data-movimientos/data-movimientos.html">
<link rel="import" href="../listado-movimientos/listado-movimientos.html">
<link rel="import" href="../nuevo-movimiento/nuevo-movimiento.html">
<link rel="import" href="../data-alta-movimiento/data-alta-movimiento.html">
<link rel="import" href="../listado-oficinas/listado-oficinas.html">
<link rel="import" href="../data-oficinas/data-oficinas.html">
<link rel="import" href="../listado-divisas/listado-divisas.html">
<link rel="import" href="../data-divisas/data-divisas.html">
<link rel="import" href="../data-cambio-divisas/data-cambio-divisas.html">
<link rel="import" href="../data-consulta-usuario/data-consulta-usuario.html">
<link rel="import" href="../modificacion-usuario/modificacion-usuario.html">
<link rel="import" href="../data-modificacion-usuario/data-modificacion-usuario.html">

<dom-module id="gestor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <datos-cabecera id="cabecera" on-accesocuentas="accesoCuentas" on-datosoficinas="datosOficinas" on-datosdivisas="datosDivisas" on-logout="logout" on-modificausuario="modificaUsuario"></datos-cabecera>
    <listado-cuentas id="cuentas" on-entradacuenta="envioCuenta" on-nuevacuenta="nuevaCuenta"></listado-cuentas>
    <data-cuentas id="datoscuentas" on-datoscuentas="envioDatosCuentas" on-noautenticado="usuarioNoAutenticado"></data-cuentas>
    <data-alta-cuenta id="altacuenta" on-altacuentacorrecta="altaCuentaCorrecta" on-noautenticado="usuarioNoAutenticado"></data-alta-cuenta>
    <data-movimientos id="datosmovimientos" on-datosmovimientos="envioDatosMovimientos" on-noautenticado="usuarioNoAutenticado"></data-movimientos>
    <listado-movimientos id="listadomovimientos" on-nuevomovimiento="envioMovimiento" on-cancelaconsultamovimientos="cancelaConsultaMovimientos" on-filtrarmovimientos="envioCuenta"></listado-movimientos>
    <nuevo-movimiento id="nuevomovimiento" on-altamovimiento="envioDatosMovimiento" on-cancelaaltamovimiento="cancelaAltaMovimiento"></nuevo-movimiento>
    <data-alta-movimiento id="altamovimiento" on-altamovimientocorrecta="altaMovimientoCorrecta" on-noautenticado="usuarioNoAutenticado"></data-alta-movimiento>
    <login-usuario id="credenciales" on-credenciales="envioCredenciales" on-nuevousuario="nuevoUsuario" on-olvidoclave="olvidoClave"></login-usuario>
    <data-login id="datosusuario" on-datosusuario="envioDatosUsuario"></data-login>
    <nuevo-usuario id="nuevousuario" on-altausuario="envioNuevoUsuario" on-cancelaaltausuario="cancelaAltaUsuario"></nuevo-usuario>
    <data-alta-usuario id="altausuario" on-altausuariocorrecta="altaUsuarioCorrecta"></data-alta-usuario>
    <data-consulta-usuario id="consultausuario" on-datosconsultausuario="envioConsultaUsuario" on-noautenticado="usuarioNoAutenticado"></data-consulta-usuario>
    <modificacion-usuario id="modificacionusuario" on-modificausuario="envioModificaUsuario"></modificacion-usuario>
    <data-modificacion-usuario id="modificadatosusuario" on-modificacionusuariocorrecta="modificacionUsuarioCorrecta" on-noautenticado="usuarioNoAutenticado"></data-modificacion-usuario>
    <olvido-clave id="olvidoclave" on-solicitacodigo="solicitaCodigo" on-cancelaolvido="cancelaOlvido"></olvido-clave>
    <data-olvido-clave id="generacodigo" on-enviacodigo="enviaCodigo"></data-olvido-clave>
    <reactivacion-clave id="nuevaclavereactivacion" on-enviaclavereactivacion="envioClaveReactivacion" on-cancelareactivacion="cancelaReactivacion"></reactivacion-clave>
    <data-reactiva-clave id="reactivaclave" on-reactivacioncorrecta="reactivacionCorrecta"></data-reactiva-clave>
    <data-oficinas id="datosoficinas" on-datosoficinas="envioDatosOficinas" on-noautenticado="usuarioNoAutenticado"></data-oficinas>
    <listado-oficinas id="oficinas"></listado-oficinas>
    <data-divisas id="datosdivisas" on-datosdivisas="envioDatosDivisas" on-noautenticado="usuarioNoAutenticado"></data-divisas>
    <listado-divisas id="divisas" on-seleccionadivisas="seleccionaDivisas"></listado-divisas>
    <data-cambio-divisas id="datoscambiodivisas" on-resultadocambiodivisas="mostrarCambioDivisas"></data-cambio-divisas>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorEvento extends Polymer.Element {
      static get is() { return 'gestor-evento'; }
      static get properties() {
        return {};
      }

      envioCredenciales(e) {
        // Envía las credenciales del cliente a datosusuario
        this.$.datosusuario.showData(e.detail);
      }

      nuevoUsuario(e) {
        // Llama al formulario de nuevo usuario
        this.$.credenciales.mostrar = false;
        limpiarNuevoUsuario(this.$.nuevousuario);
        this.$.nuevousuario.mostrar = true;
        this.$.nuevousuario.$.nif.focus();
      }

      olvidoClave(e) {
        // Llama al formulario de olvido de clave
        this.$.credenciales.mostrar = false;
        limpiarOlvidoClave(this.$.olvidoclave);
        this.$.olvidoclave.mostrar = true;
        this.$.olvidoclave.$.nif.focus();
      }

      solicitaCodigo(e) {
        // Envía el nif a enviacodigo
        this.$.generacodigo.showData(e.detail);
      }

      cancelaOlvido(e) {
        // Recibe la cancelación de petición de código
        this.$.olvidoclave.mostrar = false;
        muestraLogin(this.$.credenciales);
      }

      enviaCodigo(e) {
        // Llama al formulario de código y nueva clave
        this.$.olvidoclave.mostrar = false;
        limpiarNuevaClaveReactivacion(this.$.nuevaclavereactivacion);
        this.$.nuevaclavereactivacion.showData(e.detail);
      }

      envioClaveReactivacion(e) {
        // Envía los datos de la reactivación a data-reactiva-clave
        this.$.reactivaclave.showData(e.detail);
      }

      cancelaReactivacion(e) {
        // Recibe la cancelación de la reactivación
        this.$.nuevaclavereactivacion.mostrar = false;
        limpiarOlvidoClave(this.$.olvidoclave);
        this.$.olvidoclave.mostrar = true;
      }

      reactivacionCorrecta(e) {
        // La reactivación de la clave ha sido correcta
        this.$.nuevaclavereactivacion.mostrar = false;
        muestraLogin(this.$.credenciales);
      }

      envioDatosUsuario(e) {
        // Recibe los datos del cliente
        this.$.credenciales.showData(e.detail);
        if (e.detail != "KO") {
          this.$.cabecera.showData(e.detail);
          this.$.datoscuentas.showData(e.detail.nif);
        }
      }

      envioDatosCuentas(e) {
        // Recibe la lista de cuentas y lo envía a cuentas
        this.$.cuentas.showData(e.detail);
      }

      envioCuenta(e) {
        // Envía la cuenta a datosmovimientos
        this.$.datosmovimientos.showData(e.detail);
      }

      envioDatosMovimientos(e) {
        // Recibe la lista de movimientos y lo envía a listadomovimientos
        this.$.cuentas.mostrar = false;
        this.$.listadomovimientos.showData(e.detail);
      }

      cancelaConsultaMovimientos(e) {
        // Recibe la cancelación de la consulta de movimientos
        this.$.listadomovimientos.mostrar = false;
        this.$.datoscuentas.showData(this.$.cabecera.nif);
      }

      cancelaAltaMovimiento(e) {
        // Recibe la cancelación del alta de movimiento
        this.$.nuevomovimiento.mostrar = false;
        this.$.listadomovimientos.mostrar = true;
      }

      envioMovimiento(e) {
        // Recibe la cuenta para solicitar los datos de nuevo movimiento
        this.$.listadomovimientos.mostrar = false;
        limpiarNuevoMovimiento(this.$.nuevomovimiento);
        this.$.nuevomovimiento.showData(e.detail);
      }

      envioDatosMovimiento(e) {
        // Envía los datos del nuevo movimiento a data-alta-movimiento
        this.$.altamovimiento.showData(e.detail);
      }

      envioNuevoUsuario(e) {
        // Envía los datos del nuevo usuario a data-alta-usuario
        this.$.altausuario.showData(e.detail);
      }

      cancelaAltaUsuario(e) {
        // Recibe la cancelación del alta de usuario
        this.$.nuevousuario.mostrar = false;
        muestraLogin(this.$.credenciales);
      }

      altaUsuarioCorrecta(e) {
        // Una vez realizado el alta de usuario le envía a la pantalla de login
        this.$.nuevousuario.mostrar = false;
        muestraLogin(this.$.credenciales);
      }

      altaMovimientoCorrecta(e) {
        // Una vez realizado el alta de movimiento muesta los datos de la cuenta
        this.$.nuevomovimiento.mostrar = false;
        this.$.datosmovimientos.showData(e.detail);
      }

      accesoCuentas(e) {
        cerrarVentanas(this);
        this.$.datoscuentas.showData(e.detail.nif);
      }

      datosOficinas(e) {
        // Se llama a datosoficinas
        this.$.datosoficinas.showData(e.detail);
      }

      envioDatosOficinas(e) {
        // Se llama a accesooficinas
        cerrarVentanas(this);
        this.$.oficinas.showData(e.detail);
      }

      datosDivisas(e) {
        // Se llama a datosdivisas
        this.$.datosdivisas.showData(e.detail);
      }

      envioDatosDivisas(e) {
        // Se llama a accesodivisas
        cerrarVentanas(this);
        limpiarDivisas(this.$.divisas);
        this.$.divisas.showData(e.detail);
      }

      seleccionaDivisas(e) {
        // Se llama a datoscambiodivisas
        this.$.datoscambiodivisas.showData(e.detail);
      }

      mostrarCambioDivisas(e) {
        // Se llama a accesodivisas con el resultado del cambio de divisas
        this.$.divisas.mostrarCambioDivisas(e.detail);
      }

      usuarioNoAutenticado(e) {
        // La sesión del usuario no es válida
        cerrarVentanas(this);
        this.$.cabecera.mostrar = false;
        this.$.credenciales.sesionNoValida();
      }

      logout(e) {
        // Logout del usuario
        sessionStorage.removeItem("token");
        cerrarVentanas(this);
        this.$.cabecera.mostrar = false;
        muestraLogin(this.$.credenciales);
      }

      modificaUsuario(e) {
        // Se llama a consultausuario con el NIF
        this.$.consultausuario.showData(e.detail);
      }

      envioConsultaUsuario(e) {
        // Se llama a modificacionusuario con los datos del cliente
        cerrarVentanas(this);
        this.$.modificacionusuario.showData(e.detail);
      }

      envioModificaUsuario(e) {
        // Se llama a datosmodificacionusuario con los datos del cliente
        this.$.modificadatosusuario.showData(e.detail);
      }

      modificacionUsuarioCorrecta(e) {
        // Una vez realizada la modificación de usuario le envía a la consulta de cuentas
        this.$.modificacionusuario.mostrar = false;
        this.$.cabecera.nombre = e.detail.nombre;
        this.$.cabecera.apellido1 = e.detail.apellido1;
        this.$.cabecera.apellido2 = e.detail.apellido2;
        this.$.datoscuentas.showData(e.detail.nif);
      }

      nuevaCuenta(e) {
        // Envía el nif a datanuevacuenta
        this.$.altacuenta.showData(e.detail);
      }

      altaCuentaCorrecta(e) {
        // Una vez realizado el alta de cuenta muesta la lista de cuentas
        this.$.altacuenta.mostrar = false;
        this.$.datoscuentas.showData(e.detail.nif);
      }

    }

    window.customElements.define(GestorEvento.is, GestorEvento);
  </script>
</dom-module>
