<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="data-alta-cuenta">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <iron-ajax
      id="altaCuenta"
      method="POST"
      url="[[servidor]]/apitechu/v1/cliente/[[nif]]/cuenta"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

    <paper-dialog id="modalerror" modal class="rojo">
      <br>
      <p>Error en el alta de la cuenta</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="modalok" modal class="verde">
      <br>
      <p>Nueva cuenta creada correctamente</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataAltaCuenta extends Polymer.Element {
      static get is() { return 'data-alta-cuenta'; }
      static get properties() {
        return {};
      }

      showData(data){
        this.servidor = obtenerServidor();
        this.nif = data.nif;
        this.$.altaCuenta.body = JSON.stringify(data);
        this.$.altaCuenta.headers.token = sessionStorage.getItem("token") || "";
        this.$.altaCuenta.generateRequest();
      }

      manageAJAXResponse(data){
        if (data.detail.response.resultado == "OK") {
            this.$.modalok.open();
            this.dispatchEvent(
              new CustomEvent(
                "altacuentacorrecta",
                {
                    "detail" : {
                        "nif" : this.nif
                      }
                }
              )
            );
        } else {
          this.$.modalerror.open();
        }
      }


      showError(error) {
        if (error.detail.request.root.__data.status == 401) {
          noAutenticado(this);
        } else {
            this.$.modalerror.open();
          }
      }

    }

    window.customElements.define(DataAltaCuenta.is, DataAltaCuenta);
  </script>
</dom-module>
