<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="data-olvido-clave">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="dataOlvidoClave"
      method="PUT"
      url="[[servidor]]/apitechu/v1/cliente/[[nif]]/clave"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataOlvidoClave extends Polymer.Element {
      static get is() { return 'data-olvido-clave'; }
      static get properties() {
        return {};
      }

      showData(data) {
        this.servidor = obtenerServidor();
        this.nif = data.nif;
        this.$.dataOlvidoClave.body = "";
        this.$.dataOlvidoClave.generateRequest();
      }

      manageAJAXResponse(data){
        this.dispatchEvent(
          new CustomEvent(
            "enviacodigo",
            {
              "detail" : this.nif
            }
          )
        );
      }

    }

    window.customElements.define(DataOlvidoClave.is, DataOlvidoClave);
  </script>
</dom-module>
