<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="data-cambio-divisas">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="dataCambioDivisas"
      method="GET"
      url="http://api.currencies.zone/v1/quotes/[[divisaorigen]]/[[divisadestino]]/json?quantity=[[unidades]]&key=108|_SOqzq6DTyKiAC7Tk^B1cA~*kFJQ2KZW"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>

      <paper-dialog id="modalerror" modal class="rojo">
        <p>Ha ocurrido un error</p>
        <div class="buttons">
          <paper-button dialog-confirm autofocus>OK</paper-button>
        </div>
      </paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataCambioDivisas extends Polymer.Element {
      static get is() { return 'data-cambio-divisas'; }
      static get properties() {
        return {}
      };

      showData(data){
        this.divisaorigen = data.divisaorigen;
        this.divisadestino = data.divisadestino;
        this.unidades = data.unidades;
        this.$.dataCambioDivisas.generateRequest();
      }

      manageAJAXResponse(data){
        this.dispatchEvent(
          new CustomEvent(
            "resultadocambiodivisas",
            {
                "detail" : data.detail.response
            }
          )
        );
      }

      showError(error) {
        this.$.modalerror.open();
      }


    }

    window.customElements.define(DataCambioDivisas.is, DataCambioDivisas);
  </script>
</dom-module>
