<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="listado-oficinas">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div hidden$="[[!mostrar]]" id="pagina">
      <div class="titulo">Consulta de oficinas</div>
      <div id="recuadro">
          <p>Seleccione la oficina que desea consultar</p>
          <select class="custom-select" id="oficina" on-change="seleccionaOficina" value="{{seloficina::input}}">
            <option value="" disable selected>Oficina</option>
            <template is="dom-repeat" items="{{oficina}}" as="oficina">
              <option value="[[index]]">[[oficina.codigo]] [[oficina.nombre]]</option>
            </template>
          </select>
          <p>
          <div hidden$="[[!mostrardatos]]">
            <h5>[[nombre]]</h5>
            <p>[[direccion]], [[cp]], [[localidad]], [[provincia]]</p>
            <br>
            <iframe
              width="430"
              height="400"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAQ1QB1tLTR8_0qzf7CJWkQcKHNBmMYam0&q={{direccion}},{{localidad}},{{cp}}">
            </iframe>
          </div>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ListadoOficinas extends Polymer.Element {
      static get is() { return 'listado-oficinas'; }
      static get properties() {
        return {
          mostrar: {
            type: Boolean,
            value: false
          }, mostrardatos: {
            type: Boolean,
            value: false
          }
        };
      }

      showData(data) {
        // Recibe el listado de oficinas
          this.oficina = data.oficinas;
          this.seloficina = "";
          this.mostrardatos = false;
          this.mostrar = true;
          this.$.oficina.focus()
      }

      seleccionaOficina(e) {
        var indice = this.seloficina
        if (indice != "") {
          this.nombre = this.oficina[indice].nombre;
          this.direccion = this.oficina[indice].direccion;
          this.localidad = this.oficina[indice].localidad;
          this.provincia = this.oficina[indice].provincia;
          this.cp = this.oficina[indice].cp;
          this.mostrardatos = true;
        }
      }

    }

    window.customElements.define(ListadoOficinas.is, ListadoOficinas);
  </script>
</dom-module>
