<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="dataLogin"
      method="POST"
      url="[[servidor]]/apitechu/v1/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataLogin extends Polymer.Element {
      static get is() { return 'data-login'; }
      static get properties() {
        return {};
      }

      showData(data) {
        // Recibe las credenciales del cliente y llama al API
        this.servidor = obtenerServidor();
        this.$.dataLogin.body = JSON.stringify(data);
        this.$.dataLogin.generateRequest();
      }

      manageAJAXResponse(data){
        // Devuelve los datos del cliente
        sessionStorage.setItem("token", data.detail.response.token);
        this.dispatchEvent(
          new CustomEvent(
            "datosusuario",
            {
              "detail" : {
                "nif": data.detail.response.nif,
                "nombre": data.detail.response.nombre,
                "apellido1": data.detail.response.apellido1,
                "apellido2": data.detail.response.apellido2
              }
            }
          )
        );
      }

      showError(error) {
        this.dispatchEvent(
          new CustomEvent(
            "datosusuario",
            {
              "detail" : "KO"
            }
          )
        );
      }

    }

    window.customElements.define(DataLogin.is, DataLogin);
  </script>
</dom-module>
