body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

paper-dialog.verde {
  border: 1px solid;
  border-color: #4caf50;
  background-color: #f1f8e9;
  color: #4caf50;
}

paper-dialog.rojo {
  border: 1px solid;
  border-color: #d44b50;
  background-color: #fcdfdf;
  color: #d44b50;
}

.valida {
  font-size: 80%;
  color: red;
}

.cabecera-izquierda {
  background-color: #e3f2fd;
  float: left;
  width: 50%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  border-radius: 10px 0px 0px 10px;
}

.cabecera-derecha {
  background-color: #e3f2fd;
  float: right;
  width: 50%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  border-radius: 0px 10px 10px 0px;
}

.importe {
  text-align: right;
}

.importe-negativo {
  text-align: right;
  color: red;
}

.centrado {
  display: flex;
  justify-content: center;
}

.titulo {
  font-size: 1.75rem;
  padding-top: 50px;
  padding-bottom: 20px;
}

.fecha {
  color: grey;
}

#enlace {
  color: grey;
}

#enlace:hover {
  color: black;
}

#pagina {
  width: 30%;
  margin: auto;
}

#pagina-tabla {
  width: 60%;
  margin: auto;
}

#recuadro {
  background-color: #e3f2fd;
  border-radius: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}
