<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="data-modificacion-usuario">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <iron-ajax
      id="modificacionUsuario"
      method="PUT"
      url="[[servidor]]/apitechu/v1/cliente/[[nif]]"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

    <paper-dialog id="modalerror" modal class="rojo">
      <br>
      <p>El usuario no existe</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="modalok" modal class="verde">
      <br>
      <p>Modificación de usuario correcta</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataModificacionUsuario extends Polymer.Element {
      static get is() { return 'data-modificacion-usuario'; }
      static get properties() {
        return {
          mostrar: {
            type: Boolean,
            value: false
          }
        };
      }

      showData(data){
        this.servidor = obtenerServidor();
        this.nif = data.nif
        this.nombre = data.nombre;
        this.apellido1 = data.apellido1;
        this.apellido2 = data.apellido2;
        this.$.modificacionUsuario.body = JSON.stringify(data);
        this.$.modificacionUsuario.headers.token = sessionStorage.getItem("token") || "";
        this.$.modificacionUsuario.generateRequest();
      }

      manageAJAXResponse(data){
        if (data.detail.response.resultado == "OK") {
            this.$.modalok.open();
            this.dispatchEvent(
              new CustomEvent(
                "modificacionusuariocorrecta",
                {
                    "detail" : {
                        "nif" : this.nif,
                        "nombre" : this.nombre,
                        "apellido1" : this.apellido1,
                        "apellido2" : this.apellido2
                      }
                }
              )
            );
        } else {
          this.$.modalerror.open();
        }
      }

      showError(error) {
        console.log("error")
        if (error.detail.request.root.__data.status == 401) {
          noAutenticado(this);
        } else {
            this.$.modalerror.open();
          }
      }

    }

    window.customElements.define(DataModificacionUsuario.is, DataModificacionUsuario);
  </script>
</dom-module>
