<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="datos-cabecera">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div hidden$="[[!mostrar]]">
      <div class="cabecera-izquierda">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" id="enlace" on-click="accesoCuentas">Cuentas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="enlace" on-click="datosOficinas">Oficinas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="enlace" on-click="datosDivisas">Divisas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="enlace" on-click="logout">Logout</a>
          </li>
        </ul>
      </div>
      <div class="cabecera-derecha">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" id="enlace" on-click="modificaUsuario">[[nombre]] [[apellido1]] [[apellido2]]</a>
          </li>
          <li class="nav-item">
            <img src="https://s3-eu-west-1.amazonaws.com/proyectotechu/logo.png" alt="Banco San José" height="25" width="25">
            <li class="nav-item">
              <a class="nav-link">Banco San José</a>
            </li>
          </li>
        </ul>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DatosCabecera extends Polymer.Element {
      static get is() { return 'datos-cabecera'; }
      static get properties() {
        return {
          mostrar: {
            type: Boolean,
            value: false
          }
        };
      }

      showData(data) {
        this.nif = data.nif;
        this.nombre = data.nombre;
        this.apellido1 = data.apellido1;
        this.apellido2 = data.apellido2;
        this.cuentas = data.cuentas;
        this.mostrar = true;
      }

      accesoCuentas(e) {
        this.dispatchEvent(
          new CustomEvent(
            "accesocuentas",
            {
              "detail" : {
                "nif" : this.nif
              }
            }
          )
        );
      }

      datosOficinas(e) {
        this.dispatchEvent(
          new CustomEvent(
            "datosoficinas",
            {
              "detail" : {}
            }
          )
        );
      }

      datosDivisas(e) {
        this.dispatchEvent(
          new CustomEvent(
            "datosdivisas",
            {
              "detail" : {}
            }
          )
        );
      }

      logout(e) {
        this.dispatchEvent(
          new CustomEvent(
            "logout",
            {
              "detail" : {}
            }
          )
        );
      }

      modificaUsuario(e) {
        this.dispatchEvent(
          new CustomEvent(
            "modificausuario",
            {
              "detail" : {
                "nif" : this.nif
              }
            }
          )
        );
      }

    }

    window.customElements.define(DatosCabecera.is, DatosCabecera);
  </script>
</dom-module>
