<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="listado-cuentas">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div hidden$="[[!mostrar]]" id="pagina-tabla">
      <div class="titulo">Consulta de cuentas</div>
      <div id="recuadro">
        <button align="right" class="btn btn-primary" on-click="nuevaCuenta">Nueva cuenta</button>
        <p></p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">IBAN</th>
              <th scope="col" class="importe">Saldo</th>
            </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="[[cuenta]]" as="cuenta">
              <tr on-click="sendEvent">
                <td scope="row"><span id=[[cuenta.iban]]>[[cuenta.iban]]</span></th>
                <td hidden$="[[!colorRojo(cuenta.saldo)]]" scope="row" class="importe-negativo"><span on-click="sendEvent">[[formatoImporte(cuenta.saldo)]] €</span></th>
                <td hidden$="[[colorRojo(cuenta.saldo)]]" scope="row" class="importe"><span on-click="sendEvent">[[formatoImporte(cuenta.saldo)]] €</span></th>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>

    <paper-dialog id="modalerror" modal class="rojo">
      <p>Error al recuperar las cuentas</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ListadoCuentas extends Polymer.Element {
      static get is() { return 'listado-cuentas'; }
      static get properties() {
        return {
          mostrar: {
            type: Boolean,
            value: false
          }
        };
      }

      showData(data) {
        if (data == "KO") {
          this.$.modalerror.open();
        } else {
        this.cuenta = data;
        this.mostrar = true;
        }
      }

      sendEvent(e) {
        // Envía cuenta seleccionada al gestor
        this.dispatchEvent(
          new CustomEvent(
            "entradacuenta",
            {
              "detail" : {
                "iban" : e.model.__data.cuenta.iban,
                "saldo" : e.model.__data.cuenta.saldo
              }
            }
          )
        );
      }

      nuevaCuenta(e) {
        // Envía la cuenta a nuemomovimiento
        this.dispatchEvent(
          new CustomEvent(
            "nuevacuenta",
            {
              "detail" : {
                "nif" : this.cuenta[0].nif
              }
            }
          )
        );
      }

      formatoImporte(importe){
        return formatearImporte(importe,2);
      }

      colorRojo(importe) {
        if (importe < 0) {
          return true
        } else {
          return false
        }
      }

    }

    window.customElements.define(ListadoCuentas.is, ListadoCuentas);
  </script>
</dom-module>
