<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">


<dom-module id="olvido-clave">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <div hidden$="[[!mostrar]]" id="pagina">
            <div class="titulo">Recuperación de clave (1/2)</div>
            <div id="recuadro">
              <iron-form>
                <form>
                  <p>Introduzca su NIF</p>
                  <paper-input type="text" maxlength="9" id="nif" name="nif" required label="NIF" value="{{nif::input}}"></paper-input>
                  <span hidden$=[[nifvalido]] class="valida">Introduzca un NIF válido</span>
                  <div class="centrado">
                    <button class="btn btn-primary" on-click="volver">Volver</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-primary" on-click="sendEvent">Enviar</button>
                  </div>
                </form>
                <div class="output"></div>
              </iron-form>
            </div>
      </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class OlvidoClave extends Polymer.Element {
      static get is() { return 'olvido-clave'; }
      static get properties() {
        return {
          mostrar: {
            type: Boolean,
            value: false
          }, nifvalido: {
            type: Boolean,
            value: true
          }
        };
      }

      sendEvent(e) {
        // Envía las el nif del cliente a solicitacodigo
        if (this.nif != undefined) {
          this.nif = this.nif.toUpperCase();
        }
        this.nifvalido = validarNIF(this.nif);
        if (this.nifvalido) {
            this.dispatchEvent(
              new CustomEvent(
                "solicitacodigo",
                {
                  "detail" : {
                    "nif" : this.nif,
                  }
                }
              )
            );
        }
      }

      volver(e) {
        // Cancela la petición del código
        this.dispatchEvent(
          new CustomEvent(
            "cancelaolvido",
            {}
          )
        );
      }

    }

    window.customElements.define(OlvidoClave.is, OlvidoClave);
  </script>
</dom-module>
