<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="listado-movimientos">
  <link rel="import" type="css" href="../css/estilos-techu.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div hidden$="[[!mostrar]]" id="pagina-tabla">
      <div class="titulo">Consulta de movimientos</div>
      <div id="recuadro">
        <p>IBAN: [[iban]]</p>
        <p hidden$="[[!colorRojo(saldo)]]" style="color:red">Saldo: [[formatoImporte(saldo)]] €</p>
        <p hidden$="[[colorRojo(saldo)]]">Saldo: [[formatoImporte(saldo)]] €</p>
        <p>Filtro actual: [[filtro]] &emsp;<a id="enlace" on-click="abreFiltro">Filtrar</a></p>
        <button align="right" class="btn btn-primary" on-click="nuevoMovimiento">Nuevo movimiento</button>
        <p></p>
        <div hidden$="[[haymovimientos]]">
          <h5>No existen movimientos</h5>
        </div>
        <div hidden$="[[!haymovimientos]]">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col" class="importe">Importe</th>
                <th scope="col">Detalle</th>
                <th scope="col" style="text-align:center;">Documento</th>
              </tr>
            </thead>
            <tbody>
              <template is="dom-repeat" items="[[movimiento]]" as="movimiento">
                <tr>
                  <td>[[formatoFecha(movimiento.fecha)]]</td>
                  <td hidden$="[[!colorRojo(movimiento.importe)]]" scope="row" class="importe-negativo">[[formatoImporte(movimiento.importe)]] €</th>
                  <td hidden$="[[colorRojo(movimiento.importe)]]" scope="row" class="importe">[[formatoImporte(movimiento.importe)]] €</th>
                  <td>[[movimiento.detalle]]</td>
                  <td style="text-align:center;">
                      <img hidden$="[[!existeDocumento(movimiento.documento)]]" src="https://s3-eu-west-1.amazonaws.com/proyectotechu/descarga.png" on-click="abrirDocumento">
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <div class="centrado">
          <button class="btn btn-primary" on-click="volver">Volver</button>
        </div>
      </div>
    </div>

    <paper-dialog id="modalerror" modal class="rojo">
      <p>Error al recuperar los movimientos</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="filtromovimientos">
      <h5>Filtrar movimientos</h5>
      <span>Importe:</span>
      <paper-input type="text" maxlength="7" id="importedesde" name="importedesde" required label="Desde" value="{{importedesde::input}}"></paper-input>
      <span hidden$=[[importedesdevalido]] class="valida">Introduzca un importe correcto</span>
      <paper-input type="text" maxlength="7" id="importehasta" name="importehasta" required label="Hasta" value="{{importehasta::input}}"></paper-input>
      <span hidden$=[[importehastavalido]] class="valida">Introduzca un importe correcto</span>
      <span hidden$=[[importesfiltrovalido]] class="valida">El importe Desde no puede ser superior al importe Hasta</span>
      <br>
      <span>Fecha:</span>
      <br>
      <div class="centrado">
        <input type="date" class="fecha" id="fechadesde" name="fechadesde" placeholder="Desde" value="{{fechadesde::input}}"></input>
      </div>
      <span hidden$=[[fechadesdevalida]] class="valida">La fecha no puede ser posterior al día actual</span>
      <div class="centrado">
        <input type="date" class="fecha" id="fechahasta" name="fechahasta" placeholder="Hasta" value="{{fechahasta::input}}"></input>
      </div>
      <span hidden$=[[fechahastavalida]] class="valida">La fecha no puede ser posterior al día actual</span>
      <br>
      <span hidden$=[[fechasfiltrovalido]] class="valida">La fecha Desde no puede ser superior al importe Hasta</span>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancelar</paper-button>
        <paper-button dialog-confirm autofocus on-click="filtrarmovimientos">Aceptar</paper-button>
      </div>
    </paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ListadoMovimientos extends Polymer.Element {
      static get is() { return 'listado-movimientos'; }
      static get properties() {
        return {
          mostrar: {
            type: Boolean,
            value: false
          }, haymovimientos: {
            type: Boolean,
            value: true
          }, importedesdevalido: {
            type: Boolean,
            value: true
          }, importehastavalido: {
            type: Boolean,
            value: true
          }, importesfiltrovalido: {
            type: Boolean,
            value: true
          }, fechadesdevalida: {
            type: Boolean,
            value: true
          }, fechahastavalida: {
            type: Boolean,
            value: true
          }, fechasfiltrovalido: {
            type: Boolean,
            value: true
          }
        };
      }

      nuevoMovimiento(e) {
        // Envía la cuenta a nuemomovimiento
        this.dispatchEvent(
          new CustomEvent(
            "nuevomovimiento",
            {
              "detail" : {
                "iban" : this.iban
              }
            }
          )
        );
      }

      filtrarmovimientos(e) {
        // Realiza la llamado con filtro
        this.importedesdevalido = validarImporte(this.importedesde) || this.importedesde == undefined || this.importedesde == "";
        this.importehastavalido = validarImporte(this.importehasta) || this.importehasta == undefined || this.importehasta == "";
        this.importesfiltrovalido = validarImportesFiltro(this.importedesde, this.importehasta);
        this.fechadesdevalida = validarFecha(this.fechadesde);
        this.fechahastavalida = validarFecha(this.fechahasta);
        this.fechasfiltrovalido = validarFechasFiltro(this.fechadesde, this.fechahasta);
        if (this.importedesdevalido && this.importehastavalido && this.importesfiltrovalido && this.fechasfiltrovalido && this.fechadesdevalida && this.fechahastavalida) {
            this.dispatchEvent(
              new CustomEvent(
                "filtrarmovimientos",
                {
                  "detail" : {
                    "iban" : this.iban,
                    "saldo" : this.saldo,
                    "importedesde" : this.importedesde.replace(",","."),
                    "importehasta" : this.importehasta.replace(",","."),
                    "fechadesde" : this.fechadesde,
                    "fechahasta" : this.fechahasta
                  }
                }
              )
            );
          } else {
            this.$.filtromovimientos.open();
          }
      }

      showData(data) {
        if (data == "KO") {
          this.$.modalerror.open();
        } else {
          var filtro = "";
          var hayfiltroimporte = false;
          if (data.respuesta.importedesde > 0) {
            filtro += "Desde " + data.respuesta.importedesde + " ";
            hayfiltroimporte = true
          }
          if (data.respuesta.importehasta < 9999999) {
            filtro += "Hasta " + data.respuesta.importehasta;
            hayfiltroimporte = true
          }
          if (hayfiltroimporte) {
            filtro += " € ";
          }
          if (data.respuesta.fechadesde != "") {
            filtro += "Desde el " + formatearFechaFiltro(data.respuesta.fechadesde) + " ";
          }
          if (data.respuesta.fechahasta != "") {
            filtro += "Hasta el " + formatearFechaFiltro(data.respuesta.fechahasta);
          }
          if (filtro == "") {
            filtro = "Ninguno";
          }
          this.iban = data.respuesta.iban;
          this.saldo = data.saldo;
          this.movimiento = data.respuesta.movimiento;
          this.filtro = filtro;
          if (this.movimiento == undefined || this.movimiento.length == 0) {
            this.haymovimientos = false;
          } else {
            this.haymovimientos = true;
            }
          this.mostrar = true;
          }
      }

      volver(e) {
        // Cancela la consulta de movimientos
        this.dispatchEvent(
          new CustomEvent(
            "cancelaconsultamovimientos",
            {}
          )
        );
      }

      abreFiltro(e) {
        this.importedesde = "";
        this.importehasta = "";
        this.fechadesde = "";
        this.fechahasta = "";
        this.importedesdevalido = true;
        this.importehastavalido = true;
        this.importesfiltrovalido = true;
        this.fechadesdevalida = true;
        this.fechahastavalida = true;
        this.fechasfiltrovalido = true;
        this.$.filtromovimientos.open();
      }

      existeDocumento(doc) {
        if (doc != undefined) {
          return true
        } else {
            return false
          }
      }

      formatoImporte(importe){
        return formatearImporte(importe,2);
      }

      formatoFecha(fecha){
        return formatearFecha(fecha);
      }

      colorRojo(importe) {
        if (importe < 0) {
          return true
        } else {
          return false
        }
      }

      abrirDocumento(e) {
        var doc = e.model.__data.movimiento.documento;
        window.open('https://s3-eu-west-1.amazonaws.com/proyectotechu/' + doc,'name','height=500,width=1000,top=0,left=0,resizable');
      }

    }

    window.customElements.define(ListadoMovimientos.is, ListadoMovimientos);
  </script>
</dom-module>
